<div class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="container mt-5 d-none" id="Hola">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo bungee-tint-regular">Listado De Productos</span>
          <button
            class="btn btn-success float-end"
            routerLink="/crear-producto"
          >
            Nuevo
          </button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">descripcion</th>
                <th scope="col">talle</th>
                <th scope="col">stock</th>
                <th scope="col">precio</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
