<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo bungee-tint-regular">Listado De Productos</span>
          <button
            class="btn btn-success float-end"
            routerLink="/crear-producto"
          >
            Nuevo
          </button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Talle</th>
                <th scope="col">Color</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Gorra Nike</th>
                <td>XL</td>
                <td>Rojo</td>
                <td>2</td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Remera Adidas</th>
                <td>L</td>
                <td>Blanca</td>
                <td>3</td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Zapatilla Air Force</th>
                <td>40</td>
                <td>Negra con Blanco</td>
                <td>2</td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Camiseta River</th>
                <td>M</td>
                <td>Blanca con Rojo</td>
                <td>5</td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Camiseta Boca</th>
                <td>S</td>
                <td>Azul y Amarillo</td>
                <td>2</td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
              </tr>
              <tr>
                <th scope="row">Remera termica</th>
                <td>XXL</td>
                <td>Blanco</td>
                <td>2</td>
                <td>
                  <i class="fa-solid fa-trash text-danger"></i>
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </td>
              </tr>
              <div class="mb-3">
                <button
                  class="btn btn-secondary btn-lg float-start mt-3"
                  routerLink="/"
                >
                  Volver
                </button>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
