<div class="container row g-0 d-flex col-6">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center text-primary">Login</h1>
      <form class="row g-0">
        <div class="row g-0">
          <label class="form-label col-m-12 mb-2">Nombre</label>
          <input type="text" class="col-md-12 col-lg-10 mb-2" />
        </div>
        <div class="row g-0">
          <label class="form-label col-md-12 mb-2">Email</label>
          <input type="email" class="col-md-12 col-lg-10 mb-2" />
        </div>
        <div class="row g-0 justify-content-between">
          <input
            type="submit"
            value="Enviar"
            class="col-3 col-md-2 btn btn-primary m-2"
          />
          <input
            type="reset"
            value="Limpiar"
            class="col-3 col-md-2 btn btn-secondary m-2"
          />
        </div>
      </form>
    </div>
  </div>
</div>
